#Pandekage {
  padding: 5px;
  margin-left: 4px;
  height: 84%;
  line-height: 18.4px;
  max-width: 80%;
  object-fit: cover;
  text-size-adjust: 100%;
}
.skrift {
  background-color: rgba(162, 0, 0, 0.709);
  color: white;
  border: 0;
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.5px;
}
.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: rgb(56, 66, 65);
  letter-spacing: -0.5;
}
.klokke {
  margin: 0;
  padding: 0;
  border: 0;
}
.tid {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  vertical-align: bottom;
  background-color: rgba(75, 153, 110, 0.8);
}
* {
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  background-color: #21807c;
  color: #fff;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links a {
  display: block;
  padding: 20px;
  color: #fff;
  text-decoration: none;
}

.nav-links a:hover,
.nav-links .active {
  background-color: #176554;
}

.nav-links .Opskrifter .dropdown {
  position: absolute;
  background-color: #2e8971;
  min-width: 200px;
  display: none;
}

.nav-links .Opskrifter:hover .dropdown {
  display: block;
}

.nav-links .Opskrifter .dropdown a {
  padding: 10px;
  display: block;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.Næringsindhold th {
  background-color: rgb(148, 194, 203);
}
.Næringsindhold td {
  background-color: rgb(163, 207, 204);
}
.INGREDIENSER {
  background-color: rgb(148, 194, 203);
}
.INGREDIENSER {
  background-color: rgb(163, 207, 204);
}
.Bage {
  margin: 50px;
  background-color: rgba(116, 195, 198, 0.827);
}
table,
td,
th {
  border: 2px solid black;
  padding: 1px;
  text-align: center;
}
.Bage td,
th {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}
.start {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

.review-container {
  width: 500px;
  margin: 20px auto;
  text-align: center;
}

.rating {
  display: inline-block;
  font-size: 36px;
  color: #ffc107;
  text-align: center;
}

.star {
  cursor: pointer;
  text-align: center;
}

.review-text {
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-gap: 10px;
}
#titel {
  background-color: rgb(97, 231, 119);
  border: 1px solid rgb(72, 119, 155);
  text-align: center;
  padding: 2px;
  margin-right: auto;
}
.video-container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
#frem {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 23px;
}
.start {
  border: 3px solid black;
  padding: 10px;
  background-color: rgb(154, 201, 166);
}
